*.png
*.jpg
*.pdf
*.txt
*.log
*.csv
*.tiff
transfer_*.sh
checkpoints/
logs/
data/
wandb/
temp_log/
**/__pycache__/
david_cci_workshop_and_maddy_roi/
grid_analysis_output/
frankfeng1223/
src/tile_lists/
